/* -------------------------------
     common styles or utilities
---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}
.container{
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 400px ;
}
hr{
    border: 1px solid #E02C6D;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 50%
}

/* --------------------
     conmebol style
----------------------- */
.area{
    background-color: #2D25A0;
}
.conmebol-area{
    display: flex;
    margin-right: 100px;
    margin-left: 200px;
}
.half-width{
    width: 50%;
}
.heading{
    margin-top: 100px;
    color: white;
    font-size: 65px;
}
.copa-america{
    color: #E02C6D;
}
.watch-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 10px;
}
.watch-link:hover{
    border: 2px solid white;
}
.conmebol-img{
    width: 650px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
    transition: transform 0.5s linear;
}
.conmebol-img:hover{
    transform: scale(1.05);
}
 /* --------------------
    players style 
------------------------ */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.player{
    width: 330px;
    height: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem gray);
    transition: transform 0.5s linear;
}
.player:hover{
    transform: scale(1.05);
}
.player-banner img{
    width: 100%;
    height: 256px;
    border-radius: 5px;
}
.player-name{
    margin: 0;
}
.player-info p{
    margin-top: 10px;
}

/*-------------------
    match-highlights 
--------------------- */

.match-area{
    display: flex;
}
.match-heading{
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}
#match-para{
    margin-bottom: 35px;
}
.match-img{
    width: 550px;
    height: 400px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 10px;
}
.link:hover{
    border: 3px solid #2D25A0;
}

/* ---------------------------
     team rangking styles    
------------------------------ */
.headline{
    font-size: 40px;
    text-align: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 100px;
    margin-right: 70px;
}
.team{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem gray);
    transition: transform 0.5s linear;
}
.team:hover{
    transform: scale(1.1);
}
.team-info{
    margin-right: 20px;
}
.team-img img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.see-link{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
}

/* ---------------
    news style
------------------ */
.all-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.news{
        width: 330px;
        height: 350px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0.1rem 0.1rem 0.3rem gray);
        transition: transform 0.5s linear;
}
.news:hover{
    transform: scale(1.05);
}    
.news-img img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.news-info h3{
    margin-bottom: 20px;
}
.news-info span{
    margin-top: 10px;
}

/* -------------------
    footer style 
----------------------*/

footer{
    background-color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.footer-img img{
    width: 350px;
    height: 100px;
}
.icons{
    text-decoration: none;
    font-size: 40px;
    color: slategrey;
    margin-right: 10px;
}

/* ---------------------
    media queries 
------------------------*/

/* --------------------mobile device------------------- */

@media only screen and (max-width: 767px) {
    /* .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    .pages{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .page{
        color: white;
        text-decoration: none;
        margin-right: 1px;
        font-size: 10px;
    }
    .page:hover{
        background-color:  #E02C6D;
        border-radius: 10px;
        padding: 3px;
    }
    .login-area{
        background-color: #E02C6D;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .login-button {
        color: white;
        font-size: 16px;   
        text-decoration: none;
    } */
    .container{
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    hr{
        border: 1px solid #E02C6D;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 50%
    }

    .conmebol-area{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 10px;
        width: 100%;
    }
    .half-width{
        width: 100%;
    }
    .heading{
        color: white;
        font-size: 50px;
    }
    .copa-america{
        color: #E02C6D;
    }
    .watch-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        background-color: #E02C6D;
        padding: 10px 25px;
        border-radius: 10px;
    }
    .watch-link:hover{
        border: 2px solid white;
    }
    .conmebol-img{
        margin-top: 50px;
        width: 90%;
        height: 100%;
        transition: transform 0.5s linear;
    }
    .conmebol-img:hover{
        transform: scale(1.05);
    }


/* players style */

    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
    }
    .player{
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0.1rem 0.1rem 0.3rem gray);
        transition: transform 0.5s linear;
    }
    .player:hover{
        transform: scale(1.05);
    }
    .player-banner img{
        width: 100%;
        height: 256px;
        border-radius: 5px;
    }
    .player-name{
        margin: 0;
    }
    .player-info p{
        margin-top: 10px;
    }



}


